---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">
          <h1 class="post-title">
           {% if site.title == "blank" -%} <span class="font-weight-bold">{{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}</span>  {%- else -%}  <span class="font-weight-bold"> {{ site.title }} </span> {%- endif %} 
          </h1>
          <p class="desc" style="font-weight: 500;">{{ page.subtitle }}</p>
        </header>

        <article>
          {% if page.profile -%}
          <div class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}">
            {%- if page.profile.image %}
              {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}

              {% if page.profile.image_circular %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded-circle" -%}
              {% else %}
                {%- assign profile_image_class = "img-fluid z-depth-1 rounded" -%}
              {% endif %}

              {% include figure.liquid
              path=profile_image_path
              class=profile_image_class
              alt=page.profile.image -%}
            {% endif -%}
            {%- if page.profile.address %}
            <div class="address">
              {{ page.profile.address }}
            </div>
            {%- endif %}
          </div>
          {%- endif %}

          <div class="clearfix">
            {{ content }}
          </div>

        <hr style="margin-top: 2.5rem;">
                    <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>News</b></h3>
<div class="row mt-3">
    <div class="col-sm mt-3 mt-md-0">

        {% include video.liquid path="https://auckland.au.panopto.com/Panopto/Pages/Embed.aspx?id=8dc10f75-e8bd-4f31-9a45-af350085b4bb&autoplay=false&offerviewer=false&showtitle=false&showbrand=false&captions=false&interactivity=all" class="img-fluid rounded z-depth-1" %}
    </div>
    <div class="col-sm mt-3 mt-md-0">
        {% include video.liquid path="https://auckland.au.panopto.com/Panopto/Pages/Embed.aspx?id=04a9e7c2-8aff-42b5-8465-aeea003382b0&autoplay=false&offerviewer=false&showtitle=false&showbrand=false&captions=false&interactivity=all" class="img-fluid rounded z-depth-1" %}
    </div>
        <div class="col-sm mt-3 mt-md-0">
        {% include video.liquid path="https://auckland.au.panopto.com/Panopto/Pages/Embed.aspx?id=4e9e456c-a6e7-4a79-8dda-aefa0168a165&autoplay=false&offerviewer=false&showtitle=false&showbrand=false&captions=false&interactivity=all" class="img-fluid rounded z-depth-1" %}
    </div>
</div>
<div class="row mt-3">
        <div class="col-sm mt-3 mt-md-0">
        {% include video.liquid path="https://auckland.au.panopto.com/Panopto/Pages/Embed.aspx?id=475819df-d9e4-4d6d-b6f9-aeea003c31fa&autoplay=false&offerviewer=false&showtitle=false&showbrand=false&captions=false&interactivity=all" class="img-fluid rounded z-depth-1" %}
    </div>
</div>



        <hr style="margin-top: 2.5rem;">


        <!-- News -->
          {% if page.news -%}
            <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b><a href="{{ '/news/' | relative_url }}" style="color: inherit;">News</a></b></h3>
            {%- include news.liquid %}
          <p> 
            <a href="{{ '/news/' | relative_url }}"><b>past news</b></a>
          </p>
          {%- endif %}

                    
        <hr style="margin-top: 2.5rem;">

       
      <!-- Media-->
       {% if page.media -%}
       <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>Media Coverage</b></h3>
       {%- include media.liquid %}
      {%- endif %}
          
          
        <hr style="margin-top: 2.5rem;">

       
      <!-- Upcoming events-->
       {% if page.next -%}
       <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>Upcoming Events</b></h3>
       {%- include next.liquid %}
      {%- endif %}
     

      <hr style="margin-top: 1.6rem;">


          <!-- Selected papers -->
          {% if page.selected_papers -%}
          <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>Selected Publications</b></h3>
            {%- include selected_papers.liquid %}
           <p>
            <b><a href="{{ '/publications/' | relative_url }}">all publications</a></b>
           </p> 
          {%- endif %}


        <hr style="margin-top: 2.5rem;">


         <!-- Current teaching -->
         {% if page.current_teaching -%}
         <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>Current Teaching</b></h3>
            {% if page.current_courses -%}
                {%- include current_teaching.liquid %}
                <p>
                  <a href="{{ '/teaching/' | relative_url }}"><b>past teaching</b></a> 
                </p>
            {% else %}
              <p markdown="1" style="margin-bottom: 1.3rem; margin-top: 1.7rem;">
                No teaching for this term :sunglasses:
              </p>
              <p>
                <a href="{{ '/teaching/' | relative_url }}"><b>past teaching</b></a> 
              </p>
            {%- endif %}
         {%- endif %}

         
         

         <hr style="margin-top: 2.5rem;">



         <h3 style="margin-bottom: 1rem; margin-top: 2.5rem;"><b>Useful Links</b></h3>
                <p>
                <ul style="padding-left: 1.2em;">
                  <li><a href="https://cvgmt.sns.it/#gsc.tab=0"><b>CVGMT</b></a> (Calculus of Variations and Geometric Measure Theory)</li>
                  <li><a href="https://primomath.wordpress.com"><b>PRIMO Research Group</b></a></li>
                  <li><a href="https://www.ipia.site/Home/"><b>IPIA</b></a> (Inverse Problems International Association)</li>
                  <li><a href="http://www.fips.fi"><b>FIPS</b></a> (Finnish Inverse Problems Society)</li>
                  <li><a href="https://www.gamm-ev.de/en/"><b>GAMM</b></a> (Association of Applied Mathematics and Mechanics)</li>
                  <li><a href="https://www.oneworldml.org/home"><b>One World ML</b></a> (Seminar Series on the Mathematics of Machine Learning)</li>
                  <li><a href="https://sites.google.com/view/minds-seminar/home"><b>One World MINDS</b></a> (Seminar Series on Mathematics of INformation, Data, and Signals)</li>
                </ul>  
                </p>
           


                



          <!-- Latest posts -->
          {% if page.latest_posts -%}
            <h2><a href="{{ '/blog/' | relative_url }}" style="color: inherit;">latest posts</a></h2>
            {%- include latest_posts.liquid %}
          {%- endif %}
          


       



          <!-- Social -->
          <!--
          {%- if page.social %}
            <div class="social">
              <div class="contact-icons">
                {% include social.liquid %}
              </div>

              <div class="contact-note">
                {{ site.contact_note }}
              </div>

            </div>
          {%- endif %}
        </article>
        -->
</div>
